<!doctype html>
<html>

<head>
    {{>assets}}
</head>

<body>
    <div class="maindiv">
        <div class="main-content">
            {{>header}}
            {{>navigation}}
            {{message}}
        </div>
        {{>footer}}
    </div>
</body>

</html>