<!doctype html>
<html>

<head>
    {{>assets}}
</head>

<body>
    <div class="maindiv">
        <div class="main-content">
            {{>header}}
            {{>navigation}}

            <div class="content-holder">
                <p>
                    This site was created by Richard Soe Naing. It usese data from mapbox.com and weatherstack.com.
                </p>
            </div>
        </div>
        {{>footer}}
    </div>
</body>

</html>